---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Donate" sideBarActiveItemID="donate">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Restoring Sanity... 🥕</div>
    <div class="text-5xl font-bold">Fuel the Carrot</div>
    <div class="py-2">
      <p class="text-lg">
        Thanks for supporting my work and keeping my sanity levels stable.
      </p>
    </div>
    
    <div class="mt-8 w-full flex justify-center">
      <iframe 
        id='kofiframe' 
        src='https://ko-fi.com/realcarrotdev/?hidefeed=true&widget=true&embed=true&preview=true' 
        style='border:none;width:100%;padding:4px;background:transparent;' 
        height='712' 
        title='realcarrotdev'
      ></iframe>
    </div>
  </div>
</BaseLayout>
