---
import BaseLayout from "../layouts/BaseLayout.astro";
/* We've removed the imports for HorizontalCard, getCollection, etc. 
  because we are no longer showing "latest posts" on this page. 
  This makes the homepage clean.
*/
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    
    <div class="text-5xl font-bold">Carrot</div>
    
    <div class="text-lg font-medium text-gray-500 opacity-80 -mt-1">
      realcarrotdev
    </div>

    <div class="text-3xl py-3 pt-4 font-bold">Blockbench & Aseprite Animator</div>

    <div class="py-2 text-lg space-y-4">
      <p>
        I'm a self-taught 3D/2D artist with 5 years of experience, specializing in <strong class="text-accent">Blockbench</strong> and <strong class="text-accent">Aseprite</strong>.
      </p>
      <p>
        To date, I've created over <strong class="font-bold">30,000+ animations</strong> and hundreds of animated textures.
      </p>
      <p>
        I have a passion for creating in-depth guides and FAQs for the community, so make sure to check out my animation guide!
      </p>
    </div>

    <div class="mt-8 flex justify-between gap-4">
      <a class="btn btn-primary" href="/projects">
        View My Animations
      </a>
      <a href="/blog" class="btn btn-primary">
        Read My Animation Guide
      </a>
    </div>

  </div>
</BaseLayout>
