---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} RealCarrotDev
  </div>
  <div class="inline opacity-75">
    Built using the
    <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy Template</a>
  </div>
</footer>
<style></style>
